##    Copyright (c) 2023 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set global interval_long_name_global = 'month' + $year($data_binding=$data_binding).start.format('%Y') + $month.start.format('%m') + "_"
#set global page_name_global = $year($data_binding=$data_binding).start.format('%Y') + '-' + $month($data_binding=$data_binding).start.format('%m')

#include 'dataload/dataload.inc'

#set global interval_long_name_global = None
#set global page_name_global = None

#set global interval_long_name_global = None
#set global page_name_global = None