##    Copyright (c) 2023 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set global interval_long_name_global = $getVar("$Extras.pages.debug.simulate_interval", 'last24hours') +'_'
#set global page_name_global = $page

#include 'dataload/dataload.inc'

#set global interval_long_name_global = None
#set global page_name_global = None