##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#*
Create a object with keys of every year that has data.
Each year is object that has a key for every month that has data.
*#

  var yearMonth = {}
  #for $year in $SummaryByYear
    yearMonth["$year"] = []
    #for $monthYear in $SummaryByMonth
      #set $year_sum, $month_sum= $monthYear.split("-")
        #if $year_sum == $year
          yearMonth["$year"].push("$monthYear")
        #end if
    #end for
  #end for
