##    Copyright (c) 2021-2022 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set global interval_name_global = 'day'
#set global page_definition_name_global = 'day'
#if $getVar("$Extras.pages." + $page, False)
    #include 'generators/data.gen'
#end if    
#set global interval_name_global = None
#set global page_definition_name_global = None
