##    Copyright (c) 2021-2022 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#from weeutil.weeutil import to_bool  
#import time
#set $start_time = time.time()

var forecasts = [];
#set i = 0

#if $forecasts
    #for $forecast in $forecasts
        forecast = {};
        forecast.day = '$forecast["day"]';
        forecast.date = '$forecast["date"]';
        forecast.observation = '$forecast["observation"]';
        forecast.min_temp = '$forecast["min_temp"]';
        forecast.max_temp = '$forecast["max_temp"]';
        forecast.rain = '$forecast["rain"]';
        forecast.min_wind = '$forecast["min_wind"]';
        forecast.max_wind = '$forecast["max_wind"]';

        forecasts.push(forecast);
        #set i += 1
    #end for
#end if

#set elapsed_time = time.time() - $start_time
#set log_msg = "Generated " + $HTML_ROOT + "/" + $filename + " in " + str($elapsed_time)
#if to_bool($getVar("$Extras.log_times", True))
    $logdbg($log_msg)
#end if