last24hours = new Object();
#for $observation in $observations
    #if $observation == 'rain'
        #set obs = "last24hours." + $observation + " = $last24hours." + $observation + ".series(time_series='start', aggregate_type='sum', aggregate_interval='hour', time_unit='unix_epoch_ms').round(2).json"
    #else
        #set obs = "last24hours." + $observation + " = $last24hours." + $observation + ".series(time_series='start', time_unit='unix_epoch_ms').round(2).json"
    #end if
    $skinDebug($obs)
    #include source=$obs + ";\n"
#end for

