##    Copyright (c) 2021-2023 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#from weeutil.weeutil import to_bool
#set global interval_global = 'last366days'
#set global interval_type_global = 'active'
#set global interval_name_global = 'last366days'
#set global page_definition_name_global = 'last366days'
#set global interval_long_name_global = $interval_name_global + "_" 
#if $getVar("$Extras.pages." + $page, False) and to_bool($getVar("$Extras.pages." + $page + ".enable", True))
    $genData($filename, 
             $page,
             'last366days',
             'active',
             'last366days',
             'last366days',
             $interval_name_global + "_" 
            )
#end if    
#set global interval_global = None
#set global interval_type_global = None
#set global interval_name_global = None
#set global page_definition_name_global = None
#set global interval_long_name_global = None
#set global interval_start_seconds_global = None
#set global interval_end_seconds_global = None
