##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

var startDate = moment("$month.start.format('%Y-%m-%dT%H:%M:%S')").utcOffset($utcOffset);
var endDate = moment("$month.end.format('%Y-%m-%dT%H:%M:%S')").utcOffset($utcOffset);
var startTimestamp = $month.start.raw * 1000
var endTimestamp = $month.end.raw * 1000

#for aggregate_type in $aggregate_types
    #set interval_name = 'month_' + $aggregate_type
    $interval_name = new Object();
#end for

#for $observation in $observations
    #for aggregate_type in $observations[$observation]['aggregate_types']
        #set aggregate_interval = $getVar('Extras.page_definition.month.aggregate_interval.' + $aggregate_type, None)
        #set interval_name = 'month_' + $aggregate_type
        
        #if $aggregate_interval is not None
            #set obs = $interval_name + "." + $observation + " = $month." + $observation + ".series(time_series='start', aggregate_type='" + $aggregate_type + "', aggregate_interval='" + $aggregate_interval + "', time_unit='unix_epoch_ms').round(2).json"
        #else
            #set obs = $interval_name + "." + $observation + " = $month." + $observation + ".series(time_series='start', time_unit='unix_epoch_ms').round(2).json"
        #end if
        $skinDebug($obs)
        #include source=$obs + ";\n"
    #end for
#end for

