##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

yesterday = new Object();
#for $observation in $observations
    #if $observation == 'rain'
        #set obs = "yesterday." + $observation + " = $day." + $observation + ".series(time_series='start', aggregate_type='sum', aggregate_interval='hour', time_unit='unix_epoch_ms').round(2).json"
    #else
        #set obs = "yesterday." + $observation + " = $day." + $observation + ".series(time_series='start', time_unit='unix_epoch_ms').round(2).json"
    #end if
    $skinDebug($obs)
    #include source=$obs + ";\n"
#end for

