##    Copyright (c) 2021-2022 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#from weeutil.weeutil import to_bool
#set global interval_global = 'year'
#set global interval_name_global = 'year' + $year.start.format('%Y')
#set global page_name_global = $year.start.format('%Y')
#set global year_global = $year_name
#set global month_global = None
#set global title_global = $gettext('archive_year_title') + ' ' + str($year_name)
#set global h1_global = $gettext('archive_year_title') + ' ' + str($year_name)
#if $getVar("$Extras.pages." + $page, False) and to_bool($getVar("$Extras.pages." + $page + ".enable", True))
    #include 'generators/pages.gen'
#end if    
#set global interval_global = None
#set global interval_name_global = None
#set global page_name_global = None
#set global year_global = None
#set global month_global = None
#set global title_global = None
#set global h1_global = None