##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set global interval = 'month' + $year.dateTime.format('%Y') + $month.dateTime.format('%m')
#set global page_name = 'month' + $year.dateTime.format('%Y') + $month.dateTime.format('%m')
#if $getVar("$Extras.pages." + $page, False)
    #include 'generators/pages.gen'
#end if    
#set global interval = None
#set global page_name = None