##    Copyright (c) 2021-2022 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.
  
#from weeutil.weeutil import to_bool  
#import time
#set $start_time = time.time()
## ToDo: thiscould be cleaned up
function setIframeSrc(id, url) {
  // Set current page as the active page.
  currentPage = sessionStorage.getItem('currentPage');
  if (currentPage != url) {
    currentPageId = document.getElementById(currentPage);
    if (currentPageId) {
      currentPageId.classList.remove("active");
    }
    sessionStorage.setItem('currentPage', url);
  }
  document.getElementById(url).classList.add("active");
  document.getElementById(id).src = url;

  ## ToDo: better way/location?
  // When on the debug iframe, add the connect/disconnect buttons to the header.
  // The need to be on the parent page because the MQTT connection is on the parent. 
  if (url == 'pages/debug.html') {
    document.getElementById('connectButton').classList.remove("d-none");
    document.getElementById('disconnectButton').classList.remove("d-none");
  }
  else {
    document.getElementById('connectButton').classList.add("d-none");
    document.getElementById('disconnectButton').classList.add("d-none");      
  }
}

function updateLang(language) {
      var currentLanguage = sessionStorage.getItem('currentLanguage');
      if (language != currentLanguage) {
          if (currentLanguage) {
              document.getElementById(currentLanguage).classList.remove("active");
          }
          document.getElementById(language).classList.add("active");
          sessionStorage.setItem('currentLanguage', language);
      }

    lang = language;
    updateTexts();

    message = {};
    message.kind = 'lang';
    message.message = language;
    
    // When running without a webserver, there is a lot of 'strangeness'
    if (window.location.protocol == "file:") {
        targetOrigin = "*";
    }
    else {
        targetOrigin = window.location.origin;
    }      

    if (document.getElementById('child-iframe')) {
      document.getElementById('child-iframe').contentWindow.postMessage(message, targetOrigin);
    }
    else {
      window.self.postMessage(message, targetOrigin);
    }
}

// Handle a year being selected
function setYear(year) {
  // Handle 'year' and 'month' click/selections
  #if $getVar("$Extras.pages.archive-month", None) and to_bool($getVar("$Extras.pages.archive-month.enable", True))
    var makeonClickHandler = function(url) {
            return function onClickHandler() {
                  setIframeSrc("child-iframe", url);
            };
    };

    var list = document.getElementById("dropdownYearMonthMenu");
    list.innerHTML = "";

    // Add the year to the top of the month dropdown.
    #if ($getVar("$Extras.pages.archive-year", None) and to_bool($getVar("$Extras.pages.archive-year.enable", True))) 
      var li = document.createElement("li");
      var link = document.createElement("a"); 
      link.classList.add("dropdown-item");   
      var url = "pages/" + year + ".html";
      link.id = url;
      link.onclick = makeonClickHandler(url);
      link.setAttribute("data-bs-toggle", "collapse")
      link.setAttribute("data-bs-target", ".navbar-collapse.show")

      var text = document.createTextNode(year);
      link.appendChild(text);
      li.appendChild(link);
      list.appendChild(li);

      // Add a divider between the year amd months.
      var divider = document.createElement("div");
      divider.classList.add("dropdown-divider");
      list.appendChild(divider);
    #end if

    // Add each month to the drop down.
    for (var i = 0; i < yearMonth[year].length; i++) {
      li = document.createElement("li");
      link = document.createElement("a"); 
      link.classList.add("dropdown-item");
      url = "pages/" + yearMonth[year][i] + ".html";
      link.id = url;
      link.onclick = makeonClickHandler(url);

      link.setAttribute("data-bs-toggle", "collapse")
      link.setAttribute("data-bs-target", ".navbar-collapse.show")

      var currentPage = sessionStorage.getItem('currentPage');
      if (currentPage && currentPage == url) {
        link.id = url;
      }
    
      text = document.createTextNode(yearMonth[year][i]);
      link.appendChild(text);
      li.appendChild(link);
      list.appendChild(li);
    }
  #else 
    var url = "pages/" + year + ".html";
    setIframeSrc('child-iframe', url)
  #end if
}

window.addEventListener("load", function (event) {
  #if to_bool($getVar("$Extras.allow_user_language_selection", False))
    document.getElementById(lang).classList.add("active");
  #end if

  #if ($getVar("$Extras.pages.archive-year", None) and to_bool($getVar("$Extras.pages.archive-year.enable", True))) \
     or ($getVar("$Extras.pages.archive-month", None) and to_bool($getVar("$Extras.pages.archive-month.enable", True)))
    var list = document.getElementById("dropdownYearMenu");
    list.innerHTML = "";
    list.currentSelection = null;

    // Handle year selected/click
    var setActiveYear = function() {
      var list = document.getElementById("dropdownYearMenu");
      var currentSelection = sessionStorage.getItem('currentSelection');
      if (this.id != currentSelection) {
          if (currentSelection) {
              document.getElementById(currentSelection).classList.remove("active");
          }
          this.classList.add("active");
          sessionStorage.setItem('currentSelection', this.id);
      }
      setYear(this.innerHTML);
    };

    // build year drop down
    for (var year in yearMonth){
      var li = document.createElement("li");
      var link = document.createElement("a"); 
      link.classList.add("dropdown-item");
      ## ToDo: better id?      
      #if $getVar("$Extras.pages.archive-month", None) and to_bool($getVar("$Extras.pages.archive-month.enable", True))
        link.id = year;
      #else
        link.id = 'pages/' + year + '.html'
        link.setAttribute("data-bs-toggle", "collapse")
        link.setAttribute("data-bs-target", ".navbar-collapse.show")
      #end if

      var text = document.createTextNode(year);
      link.onclick = setActiveYear;
      link.appendChild(text);
      link.href = "#";
      li.appendChild(link);
      list.appendChild(li);
      var currentSelection = sessionStorage.getItem('currentSelection');
      if (currentSelection && currentSelection == year) {
        link.classList.add("active");
        sessionStorage.setItem('currentSelection', link.id);
        setYear(link.innerHTML);
      }
    }
  #end if

  updateTexts();

  if (sessionStorage.getItem('currentPage') === null) {
      sessionStorage.setItem('currentPage', '');
      #set landing_page = $getVar("$Extras.landing_page", None)
      #if not $landing_page in $getVar("$Extras.pages")
        #for $page_name in $getVar("$Extras.pages")
          #if to_bool($getVar("$Extras.pages." + $page_name + ".enable", True)) and \
              to_bool($getVar("$Extras.pages." + $page_name + ".in_navbar", True))
            #set landing_page = $page_name
            #break
          #end if
        #end for
      #end if

      #set landing_page = "'pages/" + $landing_page + ".html'"
      setIframeSrc('child-iframe', $landing_page);
  }
  else
  {
      setIframeSrc('child-iframe', sessionStorage.getItem('currentPage'));  
  }

  ## ToDo: put here for now, only include if necessary
  #if to_bool($Extras.mqtt.get('enable', False))
    MQTTConnect(); 
  #end if
});

window.addEventListener("beforeunload", function (event) {
  if(sessionStorage.getItem("MQTTConnected")){
    MQTTDisconnect();
  }
});

window.addEventListener('message', 
                        function(e) {
                          // message that was passed from iframe page
                          var message = e.data;

                          var iframe = document.querySelector("#child-iframe");
                          iframe.style.height = message.height + 'px';
                          //iframe.style.width = message.width + 'px';
                        }, 
                        false);       

#set elapsed_time = time.time() - $start_time
#set log_msg = "Generated " + $HTML_ROOT + "/" + $filename + " in " + str($elapsed_time)
#if to_bool($getVar("$Extras.log_times", True))
    $logdbg($log_msg)
#end if