##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set global page_name_global = 'yesterday'

#if $getVar("$Extras.pages." + $page_name_global, False)
    #include 'generators/js.gen'
#end if        

#set global page_name_global = None
