##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set global interval = $getVar("$Extras.index_page_interval", "last24hours")
#set global page = 'index'
#set global page_config = 'index'
#if $getVar("$Extras.pages." + $page_config, False)
    #include 'generators/pages.gen'
#end if
#set global interval = None
#set global page = None
#set global page_config = None