##    Copyright (c) 2021-2022 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#import time
#from weeutil.weeutil import to_bool
#set $start_time = time.time()
#set global year_global = None
#set global month_global = None

#set bootstrap_version = $getVar("$Extras.bootstrap_version", "latest")
#set popperjs_core_version = $getVar("$Extras.popperjs_core_version", "latest")
#set paho_mqtt_version = $getVar("$Extras.paho_mqtt_version", "latest")

#set bootstrap_minified = ""
#if $getVar("$Extras.bootstrap_minified", True)
  #set bootstrap_minified = ".min"
#end if
#set popperjs_core_minified = ""
#if $getVar("$Extras.popperjs_core_minified", True)
  #set popperjs_core_minified = ".min"
#end if
#set paho_mqtt_minified = ""
#if $getVar("$Extras.paho_mqtt_minified", True)
  #set paho_mqtt_minified = ".min"
#end if

<!doctype html>
<html lang="$lang">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <meta name="generator" content="jas $version">
      <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png"> 
      <link rel="manifest" href="manifest.json">

      <!-- Bootstrap CSS -->
      #echo '<link href="https://cdn.jsdelivr.net/npm/bootstrap@' + $bootstrap_version + '/dist/css/bootstrap' + $bootstrap_minified + '.css" rel="stylesheet">'

      #echo '<script src="https://cdn.jsdelivr.net/npm/paho-mqtt@' + $paho_mqtt_version+ '/paho-mqtt' + $paho_mqtt_minified + '.js"></script>'

      <script src="data/internationalization.js"></script>
      <script src="javascript/index.js"></script>
      ## ToDo: put here for now, only include if necessary
      <script src="javascript/mqtt.js"></script>


      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      #echo '<script src="https://cdn.jsdelivr.net/npm/bootstrap@' + $bootstrap_version + '/dist/js/bootstrap.bundle' + $bootstrap_minified + '.js"></script>'

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      #echo '<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@' + $popperjs_core_version + '/dist/umd/popper' + $popperjs_core_minified + '.js" ></script>'
      #echo '<script src="https://cdn.jsdelivr.net/npm/bootstrap@' + $bootstrap_version + '/dist/js/bootstrap' + $bootstrap_minified + '.js"></script>'
      -->
   </head>      
    
   <body>
      ## ToDo: move?
      <style>
         .pre-scrollable {
         max-height: 340px;
         overflow-y: scroll;
         }
      </style>

      <script src="data/index.js"> </script>

      <div class="fixed-top">
         <nav id="navbar" class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
               <a class="navbar-brand" href="#">$station.location</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav me-auto mb-2 mb-md-0 navbar-nav-scroll">
                     ## Navigation for the congigured 'pages'
                     #for $page_data in $getVar('Extras.pages')
                        #if not to_bool($getVar("$Extras.pages." + $page_data + ".enable", True))
                        #continue
                        #end if
                        #if to_bool($getVar('Extras.pages.' + $page_data + '.in_navbar', True))
                        <li class="nav-item">
                           #set navItem = '<a id= "pages/' + $page_data + '.html" class="nav-link text-nowrap" onclick="setIframeSrc(\'child-iframe\', \'' + 'pages/' + $page_data + '.html\')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" text_label="' + $page_data + '_navbarText' + '"></a>'
                           $navItem
                        </li>
                        #end if
                     #end for
                     ## Year dropdown
                     #if ($getVar("$Extras.pages.archive-year", None) and to_bool($getVar("$Extras.pages.archive-year.enable", True))) \
                        or ($getVar("$Extras.pages.archive-month", None) and to_bool($getVar("$Extras.pages.archive-month.enable", True)))
                        <li class="nav-item dropdown">
                        #if $year_global is not None
                        <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="dropdownYear" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" text_label="year_dropdown_label">
                        #else
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownYear" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" text_label="year_dropdown_label">
                        #end if
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownYear" id="dropdownYearMenu">
                        </li>
                     #end if
                     ## Month dropdown
                     #if $getVar("$Extras.pages.archive-month", None) and to_bool($getVar("$Extras.pages.archive-month.enable", True))
                        <li class="nav-item dropdown">
                        <div class="dropdown">
                        #if $month_global is not None
                           <a class="nav-link dropdown-toggle active" aria-current="page" href="#" role="button" id="dropdownYearMonth" data-bs-toggle="dropdown" aria-expanded="false" text_label="yearMonth_dropdown_label">
                        #else
                           <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownYearMonth" data-bs-toggle="dropdown" aria-expanded="false" text_label="yearMonth_dropdown_label">
                        #end if
                           </a>
                           <ul class="dropdown-menu pre-scrollable" aria-labelledby="dropdownYearMonth" id="dropdownYearMonthMenu">
                           </ul>
                        </div>
                        </li>
                     #end if
                     ## Language dropdown
                     #if to_bool($getVar("$Extras.use_browser_language_preference", False)) and to_bool($getVar("$Extras.allow_user_language_selection", False))
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" aria-current="page" href="#" id="dropdownLanguage" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" text_label="language_dropdown_label">
                          lang
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownLanguage" id="dropdownLanguageMenu">
                           #for $language in $languages
                              #set $texts = $textLabels($language)
                              #echo '                            <a class="dropdown-item" id="' + $language + '" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" onclick="updateLang(\'' + $language + '\')">' + $texts["Language"] + ' (' + $language +')</a>\n'
                           #end for
                           </div>
                        </li>
                     #end if
                  </ul>
                  <button id="connectButton" class="btn btn-outline-success d-none" type="button" text_label="connect_button_label" onclick="MQTTConnect()"></button>
                  <button id="disconnectButton" class="btn btn-outline-success d-none" type="button" text_label="disconnect_button_label" onclick="MQTTDisconnect()"></button>
                  <button class="btn btn-outline-success" type="button" onclick="setIframeSrc('child-iframe', sessionStorage.getItem('currentPage'))" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" text_label="refresh_button_label"></button>
               </div>
            </div>
         </nav>
      </div>
      <div class="embed-responsive mt-5 pt-5">
         <iframe id="child-iframe" id="child-iframe" scrolling="no" width="100%"></iframe>
      </div>
   </body>
</html>

#set global year_global = None
#set global month_global = None

#set elapsed_time = time.time() - $start_time
#set log_msg = "Generated " + $HTML_ROOT + "/" + $filename + " in " + str($elapsed_time)
#if to_bool($getVar("$Extras.log_times", True))
  $logdbg($log_msg)
#end if