/* 
   Copyright (c) 2023 Rich Bell <bellrichm@gmail.com>
   See the file LICENSE.txt for your rights.
*/

#dropdownYearMonthMenu {
   max-height: 75vh;
   overflow-y: scroll;
   }

.navbar {
   /* Due to scrolling of iframe, navbar needs a background color to hide iframe */
   background-color: var(--bs-body-bg);  
   border-bottom: 1px solid var(--bs-navbar-disabled-color);   
}

/* The eCharts tooltip has css style directly on the element. Override to match the bootstrap theme */
.echarts-tooltip {
      background-color: var(--bs-body-bg) !important;  
}

.daterangepicker {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

.daterangepicker:before, daterangepicker.drop-up:before {
  border-color: var(--bs-border-color-translucent);
}

.btn {
  cursor: pointer;
  --bs-btn-hover-bg: var(--bs-btn-bg);
}

.btn:active {
  transform: scale(0.8);
}


.daterangepicker:after, daterangepicker.drop-up:after {
  border-color: var(--bs-border-color-translucent);
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
  color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

.daterangepicker .calendar-table {
  border-color: var(--bs-border-color-translucent);
  background-color: var(--bs-body-bg);
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: var(--bs-body-bg);
}

.daterangepicker td.week, .daterangepicker th.week {
  color: var(--bs-tertiary-color);
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: var(--bs-body-bg);
  color: var(--bs-secondary-color);
}

.daterangepicker td.in-range {
  color: var(--bs-body-color);
  background-color: var(--bs-secondary-bg);
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  color: var(--bs-body-color);
  background-color: var(--bs-secondary-bg);
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: var(--bs-secondary-color);
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  border-color: var(--bs-border-color-translucent);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

.daterangepicker .drp-buttons {
  border-top-color: var(--bs-border-color-translucent);
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right-color: var(--bs-border-color-translucent);
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left-color: var(--bs-border-color-translucent);
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right-color: var(--bs-border-color-translucent);
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left-color: var(--bs-border-color-translucent);
}

.daterangepicker .ranges li:hover {
  background-color: var(--bs-body-bg);
}

.daterangepicker .ranges li.active {
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-body-color);
}
