/* 
   Copyright (c) 2023 Rich Bell <bellrichm@gmail.com>
   See the file LICENSE.txt for your rights.
*/

#dropdownYearMonthMenu {
   max-height: 75vh;
   overflow-y: scroll;
   }

.navbar {
   /* Due to scrolling of iframe, navbar needs a background color to hide iframe */
   background-color: var(--bs-body-bg);  
   border-bottom: 1px solid var(--bs-navbar-disabled-color);   
}