##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set global interval = 'last31days'
#set global page = 'last31days'
#set global page_config = 'last31days'
#if $getVar("$Extras.pages." + $page_config, False)
    #include 'generators/pages.gen'
#end if    
#set global interval = None
#set global page = None
#set global page_config = None