/* 
   Copyright (c) 2023 Rich Bell <bellrichm@gmail.com>
   See the file LICENSE.txt for your rights.
*/

/* user css overrides */
#set include_name = $getVar('Extras.css_override', None)
#if $include_name is not None
    #include $include_name
#end if