##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set global interval = 'year'
#set global page_name = 'year'
#set global page_config = 'year'
#if $getVar("$Extras.pages." + $page, False)
    #include 'generators/pages.gen'
#end if     
#set global interval = None
#set global page_name = None
#set global page_config = None