#set global interval = 'yesterday'
#set global page = 'yesterday'
#if $getVar("$Extras.pages." + $page, False)
    #include 'generators/pages.gen'
#end if    
#set global interval = None
#set global page = None