##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#if $getVar("$Extras.pages.archive-month", False)
    #set interval_name = 'month' + $year.start.format('%Y') + $month.start.format('%m')
    #set charts = $genCharts('archive-month', $interval_name)
    $skinDebug($charts)
    #include source=$charts
#end if    