##    Copyright (c) 2022 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#if $getVar("$Extras.pages.historical", False)
    #set charts = $genCharts('historical', 'year', 'historical')
    $skinDebug($charts)
    #include source=$charts
#end if    