##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#if $getVar("$Extras.pages.index", False)
    #set interval = $getVar("$Extras.index_page_interval", "last24hours")
    #set charts = $genCharts('index', interval)
    $skinDebug($charts)
    #include source=$charts
#end if    