##    Copyright (c) 2021-2022 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#from weeutil.weeutil import to_bool
#if $getVar("$Extras.pages." + $page, False) and to_bool($getVar("$Extras.pages." + $page + ".enable", True))
    #set global interval_name_global = 'last24hours'
    #set global page_name_global = 'last24hours'
    #set global page_definition_name_global = 'last24hours'
    
    #include 'generators/charts.gen'

    #set global interval_long_name_global = None
    #set global page_name_global = None
    #set global page_definition_name_global = None
#end if    