##    Copyright (c) 2021-2022 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#if $getVar("$Extras.pages.week", False)
    #set charts = $genCharts('week', 'week', 'week')
    $skinDebug($charts)
    #include source=$charts
#end if    