##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#set interval = 'month' + $year.dateTime.format('%Y') + $month.dateTime.format('%m')
$interval = new Object();
#for $observation in $observations
    #set aggregate_type = 'avg'
    #set aggregate_interval = 'day'
    #if $observation == 'rain'
        #set aggregate_type = 'sum'
        #set aggregate_interval = 'day'
    #end if
    #set obs = $interval + "." + $observation + " = $month." + $observation + ".series(time_series='start', aggregate_type='" + $aggregate_type + "', aggregate_interval='" + $aggregate_interval + "', time_unit='unix_epoch_ms').round(2).json"
    $skinDebug($obs)
    #include source=$obs + ";\n"
#end for