##    Copyright (c) 2021 Rich Bell <bellrichm@gmail.com>
##    See the file LICENSE.txt for your rights.

#if $getVar("$Extras.pages.archive-year", False)
    #set interval = 'year' + $year.dateTime.format('%Y')
    #set charts = $genCharts('archive-year', $interval)
    $skinDebug($charts)
    #include source=$charts
#end if    